@media screen and ( max-width: 560px)
  .form
    min-width: stretch
@media screen and ( max-width: 640px)
  .header
    padding: 0.2rem
  .user
    min-width: stretch
@media screen and ( max-width: 964px)
  .info
    &__bg > img
      margin-top: 1vw/1px
      // position: fixed
